@model Crm.Admin.Models.NewUserModel
@{
    ViewBag.Title = "Add New User";
}
<h2>@ViewBag.Title</h2>
<<<<<<< HEAD
@using (Html.BeginForm("Add", "Home"))
{
    <div>
        @Html.EditorForModel()
    </div>
    <button type="submit">Create</button>
=======
@using (Html.BeginForm("Add", "User"))
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    <button type="submit">Create</button>
    if(!string.IsNullOrEmpty(Model.CancelUrl))
    {
        <a href="@Model.CancelUrl">Cancel</a>
    }
>>>>>>> 7af9fb1ea3b1a3e81293ef60abbc90bb0747ed25
}