@model BookAssistant.Bussines.Entities.Book
@using System.Web.Optimization
@Scripts.Render("~/Script/jqueryAjax")
<script>

    $("img").on("mouseenter", function () {
        $("#popup").text($(this).attr('News')).show();
    });

    $("img").on("mouseleave", function () {
        $("#popup").hide();
    });

</script>


<div id="selectedBook">
    <table>
        <tr>
            <td>
                <img src="@Url.Content("~/Content/"+Model.Img)">
            </td>
            <td>
                @Html.LabelFor(m=>m.Title):@Html.DisplayFor(m => m.Title) <br/>
                @Html.LabelFor(m=>m.Author):@Html.DisplayFor(m => m.Author) <br/>
                @Html.LabelFor(m=>m.Description):@Html.DisplayFor(m => m.Description) 
            </td>
        </tr>
    </table>
</div>
