@section Scripts {
    @System.Web.Optimization.Scripts.Render("http://code.jquery.com/jquery-2.1.1.js")
    @System.Web.Optimization.Scripts.Render("http://code.jquery.com/jquery-2.1.1.min.js")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery", "~/bundles/web", "~/Scripts/ContactAssistant.js", "~/Scripts/ClientAssistant.js")
}

<div>

    <div>
        <header>
            <div class="content-wrapper">
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Log off", "Index", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Home", "Index", "HomeAssistant", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("EditClient", "Index", "EditAssistant", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Calls", "Index", "CallsAssistant", new { area = "" }, null)</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>

    <div>
        <div>
            <div>
            </div>
            <div>
            <div id="ClientListBlock" data-bind="css: align='left'">
            </div>
            <div id="TimeBlock" data-bind="css: align='right'">
            </div>
            </div>
            <div id="addNewClient" data-bind="css: align='left'">
                <button class=" newclient">
                Add New Client</button>
            </div>
        </div>
    </div>
</div>