@model Crm.Admin.Models.NewPasswordModel
<<<<<<< HEAD
@Html.LabelFor(model => model.Password) @Html.EditorFor(model => model.Password)
@Html.LabelFor(model => model.ConfirmPassword) @Html.EditorFor(model => model.ConfirmPassword)
=======
<div class="form-field">
    <span class="label-field">@Html.LabelFor(model => model.Value)</span>
    <span class="editor-field">@Html.EditorFor(model => model.Value)</span>
</div>
<div class="form-field">
    <span class="label-field">@Html.LabelFor(model => model.Confirmation)</span>
    <span class="editor-field">@Html.EditorFor(model => model.Confirmation)</span>
</div>
>>>>>>> 7af9fb1ea3b1a3e81293ef60abbc90bb0747ed25
